---
import MainLayout from "../layouts/MainLayout.astro";
export const prerender = true;
---

<MainLayout title="sera - about">
	<div class="hidden" id="home">
		<a href="/" class="flicker pagelabel" style="animation-delay: 0.2s"
			>&lt; back</a
		>

		<div class="flicker" style="animation-delay: 0.4s">
			<h1>about</h1>
			<p class="indent gray">sera ~ she / they</p>
		</div>

		<div class="flicker">
			<div class="flicker imagediv" style="animation-delay: 0.8s;">
				<p>
					/~/~/~/ ~/~/~/~ /~/~/~/ ~/~/~/~ /~/~/~/ ~/~/~/~ /~/~/~/
					~/~/~/~ /~/~/~/ ~/~/~/~
				</p>
				<img
					class="pixel"
					title="sera!"
					src="/images/sera-digital.png"
					style="width: 140px;height: 140px;"
				/>
				<p>
					/~/~/~/ ~/~/~/~ /~/~/~/ ~/~/~/~ /~/~/~/ ~/~/~/~ /~/~/~/
					~/~/~/~ /~/~/~/ ~/~/~/~
				</p>
			</div>
			<br />
			<p class="flicker" style="animation-delay: 1.0s">
				i'm sera, a fullstack engineer thats heavily invested in games
				and digital art.
			</p>
			<br />
		</div>
	</div>

	<script>
		setTimeout(function () {
			document.getElementById("home").classList.remove("hidden");
		}, 1300);

		if (new URL(document.referrer).origin == new URL(document.URL).origin) {
			document.getElementById("main").style.animationDuration = "0s";
			document.getElementById("main").style.animationDelay = "0s";
			document.getElementById("home").classList.remove("hidden");
		}
	</script>
</MainLayout>
