---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="sera - hardware">
	<div class="hidden" id="home">
		<a href="/" class="flicker pagelabel" style="animation-delay: 0.2s"
			>&lt; back</a
		>

		<div class="flicker" style="animation-delay: 0.4s">
			<h1>hardware</h1>
		</div>

		<div class="flicker">
			<p class="indent flicker gray" style="animation-delay: 1s">
				sera-01 <span class="systemdetail gray">custom PC</span>
			</p>
			<p class="doubleindent flicker" style="animation-delay: 1.1s">
				i7-14700F // &nbsp;32GB DDR5 // Win
			</p>
			<br />
			<p class="indent flicker gray" style="animation-delay: 1s">
				sera-02 <span class="systemdetail gray">macbook pro</span>
			</p>
			<p class="doubleindent flicker" style="animation-delay: 1.1s">
				M3 Max &nbsp;&nbsp;&nbsp;// &nbsp;64GB DDR5 // MacOS
			</p>
			<br />
			<p class="indent flicker gray" style="animation-delay: 1s">
				sera-03 <span class="systemdetail gray">mac mini</span>
			</p>
			<p class="doubleindent flicker" style="animation-delay: 1.1s">
				M2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// &nbsp;&nbsp;8GB
				DDR5 // Asahi
			</p>
			<br />
			<p class="indent flicker gray" style="animation-delay: 1s">
				sm-01 <span class="systemdetail gray">iphone 15 pro</span>
			</p>
			<p class="doubleindent flicker" style="animation-delay: 1.1s">
				A17 Pro &nbsp;&nbsp;// &nbsp;&nbsp;8GB DDR5 // iOS26
			</p>
			<br />
			<p class="indent flicker gray" style="animation-delay: 1s">
				sm-02 <span class="systemdetail gray">galaxy z flip 7</span>
			</p>
			<p class="doubleindent flicker" style="animation-delay: 1.1s">
				Exy 2500 &nbsp;// 12GB DDR5 &nbsp;// OneUI8
			</p>
			<br />
		</div>
	</div>

	<script>
		setTimeout(function () {
			document.getElementById("home").classList.remove("hidden");
		}, 1300);

		if (new URL(document.referrer).origin == new URL(document.URL).origin) {
			document.getElementById("main").style.animationDuration = "0s";
			document.getElementById("main").style.animationDelay = "0s";
			document.getElementById("home").classList.remove("hidden");
		}
	</script>
</MainLayout>
