---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import { Font } from "astro:assets";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<title>{title ?? "sera"}</title>
		<BaseHead />
		<Font cssVariable="--font-geist" />
		<Font cssVariable="--font-geistmono" />
	</head>
	<body>
		<div id="main" class="spread center box">
			<slot />
		</div>
	</body>
</html>
